
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyszukiwanie</title>
</head>
<body>
    <h1>Wyszukaj użytkownika</h1>
    <form method="get">
        <input type="text" name="query" required>
        <input type="submit" value="Wyszukaj">
    </form>
    {% if results %}
    <ul>
        {% for result in results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('logout') }}">Wyloguj</a>
</body>
</html>
